---
import { type APISpaceXResponse } from "../types/api";
import CardLaunch from "./CardLaunch.astro";

const res = await fetch("https://api.spacexdata.com/v5/launches/query", {
  method: "POST",
  headers: {
    "Content-Type": "aplication/json",
  },
  body: JSON.stringify({
    query: {},
    options: {
      sort: {
        date_unix: "asc",
      },
      limit: 10,
    },
  }),
});

const { docs: launches } = (await res.json()) as APISpaceXResponse;

console.log(launches);
---

<div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
  {
    launches.map(({ id, links, details, name, success, flight_number }) => (
      <CardLaunch
        id={id}
        img={links.patch.small}
        details={details}
        name={name}
        success={success}
        flightNumber={flight_number}
      />
    ))
  }
</div>
